# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
node_modules/
venv/*/*
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
.vscode
